@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    background-color: var(--background);

    font-family: "Lato", serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --large-title: 48px;
    --title: 32px;
    --large-text: 24px;
    --normal-text: 18px;
    --small-text: 16px;
}

body {
    margin: 0;
    display: flex;
    /* place-items: center;
    min-width: 320px;
    min-height: 100vh; */
}

:root[data-theme="light"] {
  --text: #0c0e13;
  --background: #fbfcfe;
  --primary: #1442fa;
  --secondary: #b96dff;
  --accent: #5674eb;
}
:root[data-theme="dark"] {
  --text: #eceef3;
  --background: #010204;
  --primary: #0533eb;
  --secondary: #4c0094;
  --accent: #1432a9;
}
